.container {
  padding: 30px;
}

.skills {
  width: 100%;
  /* background-color: #ddd; */
  display: block;
  height: fit-content;
  margin-top: 40px;
  margin-bottom: 10px;
}

.skills h1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
}

.skill p {
  color: #50a3a2;
  text-align: left;
  margin-bottom: 0;
  margin-top: 1rem;
}

.col-md-6 {
  background-color: white;
  margin-top: 20px;
}

.col-md-6 h3 {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.progress-bar {
  background-color: rgb(80, 163, 162) !important;
}

/* .skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  display: block;
}

.html {
  width: 90%;
  background-color: #4caf50;
}
.css {
  width: 80%;
  background-color: #2196f3;
}
.js {
  width: 65%;
  background-color: #f44336;
}
.php {
  width: 60%;
  background-color: #808080;
} */
